/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'HarabaraNeo';
  src: url('./fonts/Harabaraneo.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Harabaraneo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Harabaraneo.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Harabaraneo.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Harabaraneo.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/Harabaraneo.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}