body{font-family:Calibri; color:#444; font-size:16px;}
a{color:#81c02f;}
a:hover, a:focus{color:#c42127; outline:none;}
.text-danger{color:#c42127;}
.text-success{color:#81c02f;}
.text-warning{color:#ffea00;}
.bg-danger{background:#c42127;}
.bg-success{background:#81c02f;}
.bg-warning{background:#ffea00;}
.form-control, .btn{border-radius:0;}
.form-control:focus{border-color: #81C02F; box-shadow: 0 1px 1px rgba(129,192,47,0.3) inset, 0 0 8px rgba(129,192,47,0.3);}
header{border-top:solid #ffea00 4px; border-bottom:solid #ffea00 16px; box-shadow: 0 -16px 0 0 #81c02f; margin-top:16px; padding-bottom:5px;}
.logo{margin-top:65px; display:inline-block;}
.top-bar{text-align:right;}
.top-bar > span:first-child{padding:5px 40px;}
.top-bar > span {border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); display:inline-block; color:#2b2b2d; margin:0 0 0 10px; padding:5px 10px; }
.top-bar > span a{ display:inline-block; color:#2b2b2d; text-decoration:none;} 
.top-bar > span a:hover{color:#81C02F;}
.badge-up{background: #c42127 none repeat scroll 0 0; font-size: 11px; left: -13px; padding: 1px 3px; position: relative; top: -6px;}
.light-shad{border-radius: 8px; box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); color:#2b2b2d; display: inline-block; margin: 5px 0; padding: 2px 10px;}
.navbar{background:#81c02f; border-color:#81c02f;}
.navbar-inverse.navbar{margin:5px 0 0 0;}
.navbar-inverse .navbar-nav > li > a{color:#fff; font-weight:bold; padding:14px 7px 14px 8px;}
.navbar-inverse .navbar-nav > li > a.active:before { border-color: #fff transparent transparent; border-width: 8px; border-style:solid; content: ""; position: absolute; left: 50%; top: -1px; margin-left:-8px;}

.leftbar{border-left:solid #e1e1e1 1px; border-right:solid #e1e1e1 1px; min-height: 420px; padding-bottom: 150px;}
.leftbar h3{color:#2b2b2d; font-size:17px; text-align:center; margin:12px 0; font-weight:bold; width:100%; display:inline-block;}
.leftbar li a{display:block; padding:5px 0; text-decoration:none; color:#2c2c2d;}
.leftbar ul{list-style:none; margin:0; padding:0;}
.leftbar ul li{text-align:center; color:#fff; font-size:17px; border-bottom:1px dotted #81c02f}
.leftbar ul li.pd{padding:10px 0;}
.leftbar ul li a:hover, .leftbar ul li a.active{background:#81c02f; color:#fff;}

.table-new thead{color:#fff; }
.table-new thead th{font-weight:normal;}
.table-new td{border:none !important;}
.table-new .bg-success{color:#2b2b2d !important;}
.ttext{background:#efeff0; border:solid #81c02f 3px; min-height:100px; border-radius:8px; text-align:left; color:#2b2b2d; padding:5px; font-size:14px;}
.table-c{color:#2d2d2d;}
.table-c thead{border-bottom:solid #FFEA00 5px;}
.table-c tbody tr:nth-child(odd){background:#c6ec95 !important;}
.table-c tbody .table tr{background:none !important;}
.table .table{background:none;}
.table .btn{padding:2px 5px;}

footer{background:#81c02f; border-top:solid #c6ec95 15px; color:#fff; text-align:center; padding:30px 0; font-size:19px;}

h3{margin-top:0px;}

.action_menu h4{ color:#000; line-height:40px; border-bottom:solid #ccc 1px; margin:0 5px;}
.action_menu h4 span{float:right; text-align:center; font-size:14px; line-height:20px;}
.action_menu h4 span i{color:#c50505; font-size:20px;}
.action_menu h4 span i.fa-trash{color:#8493a8; margin-top:15px;}
.action_menu h4 span i.fa-trash:hover{color:#D50000; }

.item_list{border-bottom:solid #ccc 1px; padding:5px 0; margin:0 5px;}
.item_list:before, .item_list:after{ content: " "; display: table;clear: both;}
.item_list .left{width:65%; float:left;}
.item_list aside{width:35%; float:right; text-align:right;}
.item_list .left span{background:#eceff4; border:solid #81c02f 1px; width:30px; padding:2px 0; text-align:center; display:inline-block;}
.item_list aside a {margin:0 0 0 5px;}
.item_list aside i.fa{font-size: 16px; margin-bottom:7px;}
.item_list aside .fa-pencil{color:#00b9ee;}
.item_list aside .fa-plus{color:#81c02f;}
.item_list aside .fa-minus{color:#e30613;}
.item_list aside .fa-trash{color:#8493a8;}

.btn-success{background:#81C02F;}
.btn{font-weight:bold; font-size:17px; border:solid #fff 2px;}
.t_num{border:solid #81c02f 2px; background:#fff; padding:5px 0; width:42px; border-radius:7px; font-weight:bold; display:inline-block;}

/* Login */
.login_section{border-top:solid #81c02f 10px; box-shadow:0 -10px 0 0 #81c02f;}

.login{max-width:360px; margin:0 auto; margin-top:100px; position:relative;}
.login section{padding:15px 15%; color:#fff; background:#292C2E;}
.login section .logo_icon{background:#C42127; border-radius:90%; display:table; width:90px; height:90px; text-align:center; padding:15px 0; margin:-60px auto 10px;
box-shadow: 1px 1px rgba(29, 255, 49, 0.02), 2px 2px rgba(29, 38, 49, 0.02), 3px 3px rgba(29, 38, 49, 0.02), 4px 4px rgba(29, 38, 49, 0.02), 5px 5px rgba(29, 38, 49, 0.02), 6px 6px rgba(29, 38, 49, 0.02), 7px 7px rgba(29, 38, 49, 0.02), 8px 8px rgba(29, 38, 49, 0.02), 9px 9px rgba(29, 38, 49, 0.02), 10px 10px rgba(29, 38, 49, 0.02), 11px 11px rgba(29, 38, 49, 0.02), 12px 12px rgba(29, 38, 49, 0.02), 13px 13px rgba(29, 38, 49, 0.02), 14px 14px rgba(29, 38, 49, 0.02), 15px 15px rgba(29, 38, 49, 0.02), 16px 16px rgba(29, 38, 49, 0.02), 17px 17px rgba(29, 38, 49, 0.02), 18px 18px rgba(29, 38, 49, 0.02), 19px 19px rgba(29, 38, 49, 0.02), 20px 20px rgba(29, 38, 49, 0.02), 21px 21px rgba(29, 38, 49, 0.02), 22px 22px rgba(29, 38, 49, 0.02), 23px 23px rgba(29, 38, 49, 0.02), 24px 24px rgba(29, 38, 49, 0.02), 25px 25px rgba(29, 38, 49, 0.02), 26px 26px rgba(29, 38, 49, 0.02), 27px 27px rgba(29, 38, 49, 0.016), 28px 28px rgba(29, 38, 49, 0.016), 29px 29px rgba(29, 38, 49, 0.016), 30px 30px rgba(29, 38, 49, 0.016), 31px 31px rgba(29, 38, 49, 0.01), 32px 32px rgba(29, 38, 49, 0.01), 33px 33px rgba(29, 38, 49, 0.01), 34px 34px rgba(29, 38, 49, 0.01), 35px 35px rgba(29, 38, 49, 0.01), 44px 44px rgba(29, 38, 49, 0.01), 48px 48px rgba(29, 38, 49, 0.01), 52px 52px rgba(29, 38, 49, 0.01), 56px 56px rgba(29, 38, 49, 0.01), 60px 60px rgba(29, 38, 49, 0.01);
}

/*.login section .logo_icon img{box-shadow: 1px 1px rgb(20, 107, 93), 2px 2px rgb(20, 109, 94), 3px 3px rgb(20, 111, 96), 4px 4px rgb(21, 112, 97), 5px 5px rgb(21, 114, 99), 6px 6px rgb(21, 116, 100), 7px 7px rgb(22, 117, 102), 8px 8px rgb(22, 119, 103), 9px 9px rgb(22, 121, 104), 10px 10px rgb(23, 122, 106), 11px 11px rgb(23, 124, 107);}*/

.login section .form-control{border-radius:0; box-shadow:none; border:none; margin-bottom:15px;}
.login section .btn{background: #81c02f; border: 1px solid #81c02f; font-size: 14px; font-weight: normal; color: white; display: block; margin: 20px auto; text-transform: uppercase;    transition: all 0.5s ease-in-out 0s; width: 120px;}
.login section .btn:hover{border: 1px solid #fff; opacity: 0.8;}
.login section a{color:#fff; opacity: 0.7; text-decoration:none;}
.login section a:hover{opacity:1;}

.login_section .copy{color:#292C2E; text-align:center; margin-top:15px; position:relative;}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-moz-keyframes flipInY {
    0% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -moz-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -moz-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-o-keyframes flipInY {
    0% {
        -o-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -o-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -o-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -o-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}

.flipInY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
}


.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:2s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}

}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}


@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}


@media (min-width:768px){
.container > .row > [class*="col-"]:first-child {padding-right:0;}
.container > .row > [class*="col-"]:last-child {padding-left:0;}
}

/*added by Rajlakshmi(19-05-16)*/
.notification_show aside{border-bottom:dotted #bfbfbf 1px;}
/*.notification_show aside:last-child{border:none;}
.notification_show aside:after{color: #81c02f; content: "\f105"; font-family: "FontAwesome"; position: absolute; right: 0; top: 10px;}*/
.notification_show aside a{padding:3px 0; display:block; }
.notification_show aside p{display:none; margin-left:15px;}

/*added by Rajlakshmi(19-05-16)*/

.MenuDropdown ul {display:none; border-top: 1px solid #fff;}
.MenuDropdown ul a{font-weight:normal;}
.MenuDropdown.active{background:#C6EC95;}
.MenuDropdown.active ul{display:block;}
.MenuDropdown.active ul a.active{background:#91d03f; font-size:15px;}

.error{color:#B90101; font-weight:normal; font-size: 14px;}
.panel-success > .panel-heading { background-color: #81C02F; border-color: #d6e9c6; color: #fff;}

.notification_show aside h4{position:relative; padding-left:20px;}
.notification_show aside h4:after{position:absolute; width:20px; height:20px; content: "\f105"; top:3px; left:0; font-family: 'FontAwesome'; color:#81C02F;}

/*add new css on 29-6-16 by vikas*/
.btn-outline{border: solid #81C02F 2px; padding: 4px 10px; color: #81C02F; background: #fff;}
.btn-outline:hover{border: solid #B90101 2px; padding: 4px 10px; color: #B90101; background: #fff;}

.new_header .logo{margin: 10px 0;}
.new_header{position: relative;}
.new_header:after{width: 100%; height: 75px; position: absolute; left: 0; bottom: -80px; content: ''; background: #c42127;}

.top-bar > span.light-shad-red{ color:#fff; background: #C42127;}

.numberbox{margin-top: -10px;}
.numberbox > h4{color: #fff; font-size:16px;}
.num_inner{border: solid #81C02F 2px; margin-top: 85px; border-radius: 5px; margin-bottom: 60px; background: #f2f1ee; padding: 0 5px 15px 5px;}
.num_inner .icon{background: #f2f1ee; border: 7px solid #81c02f; border-radius: 90%; width: 85px; height: 85px; margin: -50px auto 0; position: relative; font-size: 35px; color: #81C02F; line-height: 70px;}
.num_inner h4{margin-bottom: 0;}
.num_inner ul{text-align: center; margin:0 5px;}
.num_inner ul li{border: solid #81C02F 2px; width: 20%; margin-bottom:4px; padding: 0;}
.num_inner ul li:last-child{width: 42%;}
.num_inner select{background:none; border: medium none; width: 100%;}
.num_inner.disabled{opacity: .4; pointer-events: none;}
.black{color: #222;}
.num_inner li.active{ border-color:#c42127;}
.TableDiv{border:solid #81C02F 1px; color:#222; margin-bottom:50px;}
.TableDiv .bg-success{color:#fff;}
.bor-lft{border-right:solid #81C02F 1px;}

.t-list i{width:30px; display:inline-block; font-style:inherit; font-family:arial;}
.bg-success .t-list li{line-height:40px;}

.t-list{margin:0; font-size:18px;}
.t-list li{padding:0; width:70%; float:left;}
.t-list li:nth-child(even){width:30%; text-align:right;}	

.fullBGtable {position:relative; z-index:1; margin-top:-15px; min-height:550px; text-align:center;}
.fullBGtable .table{margin:0;}
.fullBGtable li{border-bottom:1px solid rgba(255, 255, 255, 0.5);}
.fullBGtable li:first-child{border:none;}
.fullBGtable .table th, .fullBGtable .table td{height:80px; border:none; vertical-align:middle;}
.fullBGtable li a{color:#222; text-decoration:none;}
.fullBGtable li.noti_info a{color:#fff; text-decoration:none;}
.fullBGtable li:nth-child(even){background:#f2eef3;}
.fullBGtable li:hover{background:#FFEA00;}
.fullBGtable li.noti_info { background: #81c02f; color:#fff !important;}
.fullBGtable li.noti_info .container{ position:relative;}
.fullBGtable li.noti_info .container:after, .fullBGtable li.noti_info .container:before{content: "\f0f3"; left: -25px; position: absolute; top: 15px; font-size:36px; color:#FFEA00; font-family:FontAwesome;}
.fullBGtable li.noti_info .container:before{left:auto; right:-25px;}
.fullBGtable li:first-child{background:none !important; color:#fff !important; font-size:18px; font-weight:bold;}
/*end new css on 29-6-16 by vikas*/


/*------------css add by Rajlakshmi on 04-7-16------------ */
.offer_box:after, .offer_box:before{content:''; clear:both; display: table;}
.offer_box{border-bottom:solid #e1e1e1 1px; padding: 0 0 12px;}
.offer_box > li:first-child{width:20%; float:left;}
.offer_box > li:last-child{width:80%; float:left;}
/*------------css add by Rajlakshmi on 04-7-16------------ */
.checkbox{margin:0;}
.checkbox input[type=checkbox]{display:none;}
.checkbox input[type=checkbox] + span{position:relative; display:inline-block; padding-left: 25px; min-height:20px;}
.checkbox input[type=checkbox] + span:after{width:18px; height:18px; border:solid #81C02F 1px; content:''; position:absolute; top:2px; left:0}
.checkbox input[type=checkbox]:checked + span:before{content:''; position:absolute; content: "\f00c"; font-family: 'FontAwesome'; top:0px; left:1px; color:#81C02F;}

.radiobox input[type=radio]{display:none;}
.radiobox input[type=radio] + span{position:relative; display:inline-block; padding-left: 25px; min-height:20px; font-weight:normal;}
.radiobox input[type=radio] + span:after{width:18px; height:18px; border:solid #81C02F 1px; content:''; position:absolute; top:2px; left:0; border-radius:90px;}
.radiobox input[type=radio]:checked + span:before{content:''; position:absolute; content: "\f111"; font-family: 'FontAwesome'; top:2px; left:3px; font-size:12px; color:#81C02F;}

.sortby a{color:#fff;}
.sortby a .fa-sort{opacity:0.4;}


@media print{
	.leftbar, .navbar-inverse, .light-shad, .top-bar{display:none;}
a[href]:after {
    content: none !important;
  }
}

.red{color:red;}
.js-example-basic-multiple.error + label + .select2-container{margin-bottom:30px;}
.js-example-basic-multiple + label.error{position:absolute; bottom:0;}