/* Fonts */

@font-face {
    font-family: 'Roboto-Thin';
    src: url('/assets/fonts/Roboto-Thin/Roboto-Thin.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Roboto-Thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/Roboto-Thin/Roboto-Thin.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/fonts/Roboto-Thin/Roboto-Thin.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/Roboto-Thin/Roboto-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/Roboto-Thin/Roboto-Thin.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('/assets/fonts/Roboto-Black/Roboto-Black.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/Roboto-Black/Roboto-Black.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/fonts/Roboto-Black/Roboto-Black.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/Roboto-Black/Roboto-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/Roboto-Black/Roboto-Black.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/assets/fonts/Roboto-Regular/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/Roboto-Regular/Roboto-Regular.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harabara-Bold';
    src: url('/assets/fonts/HarabaraBold/Harabara.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/HarabaraBold/Harabara.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/HarabaraBold/Harabara.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/fonts/HarabaraBold/Harabara.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/HarabaraBold/Harabara.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/HarabaraBold/Harabara.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harabara-Hand';
    src: url('/assets/fonts/HarabaraHand/HarabaraHand.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/HarabaraHand/HarabaraHand.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/HarabaraHand/HarabaraHand.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/fonts/HarabaraHand/HarabaraHand.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/HarabaraHand/HarabaraHand.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/HarabaraHand/HarabaraHand.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harabara-Neo';
    src: url('/assets/fonts/HarabaraNeo/HarabaraNeo.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/HarabaraNeo/HarabaraNeo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/HarabaraNeo/HarabaraNeo.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/fonts/HarabaraNeo/HarabaraNeo.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/HarabaraNeo/HarabaraNeo.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/HarabaraNeo/HarabaraNeo.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}

/* General */

.lie-container {
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

#lie-wrap {
    margin: 0px;
}

.lie-contents-wrapper {
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

.lie-contents {
    display: inline-block;
    min-width: 1024px;
    width: 80%;
    padding: 0px;
    margin: 10px 0px 0px;
    text-align: left;
}

.lie-header-bold {
    font-family: Roboto-Black;
}

.lie-header-thin {
    font-family: Roboto-Thin;
}

.lie-gray-subtext {
    color: #999999;
    font-weight: lighter;
}

.lie-user-profile-pic-64 {
    -webkit-clip-path: circle(32px at center);
    clip-path: circle(32px at center);
}

/* Checkbox */

.lie-checkbox-input {
    display: none;
}

.lie-checkbox-label {
    display: block;
    font-weight: lighter;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.lie-checkbox-label.lie-checkbox-label-checked {
    color: #27ae60;
    border: 1px solid #27ae60;
}

.lie-checkbox-icon {
    padding-right: 6px;
}

/* Ratings */

.lie-rating-golden {
    color: #ffda10;
}

.lie-rating-gray {
    color: #AAAAAA;
}

.lie-rating-input {
    cursor: pointer;
}

.lie-rating-key-cell {
    font-weight: bolder;
    padding-left: 75px;
    padding-bottom: 6px;
}

.lie-rating-stars-cell {
    font-weight: bolder;
    text-align: left;
    padding-bottom: 6px;
}

/* Restaurant Display */

.lie-restaurant-div {
    cursor: pointer;
    transition: background-color 0.5s;
}

.lie-restaurant-div:hover {
    background-color: #F0F0F0;
}

.lie-restaurant-display-container {
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid grey;
    border-bottom: none;
}

.lie-dashboard-more {
    background-color: #FFFFFF;
    border-top: 1px solid grey;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 16px;
    cursor: pointer;
}

.lie-restaurant-logo-placeholder {
    height: 120px;
}

.lie-restaurant-logo {
    border-radius: 3px;
    overflow: hidden;
}

.lie-restaurant-display-name {
    font-size: 15px;
    font-weight: bold;
}

.lie-open-color {
    color: #47d5ad;
}
.lie-closed-color {
    color: #b40000;
}
.lie-stamp-color {
    color: #e63396;
}

/* Favorites */

.lie-rest-favorite-wrap {
    font-size: 16px;
    color: #AAAAAA;
}

.lie-rest-favorite-wrap.active {
    color: #FF0000;
}

.lie-restaurant-header-name {
    font-family: "Harabara-Bold";
    font-size: 26px;
    color: #435871;
}

.lie-restaurant-header-kitchens {
    font-size: 14px;
    color: #444444;
}

.lie-toggle-favorite-button {
    cursor: pointer;
}

/* Lieferzonas General Checkbox and Radio */

.lie-checkbox label:after,
.lie-radio label:after {
    content: '';
    display: table;
    clear: both;
}

.lie-checkbox .cr,
.lie-radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.lie-radio .cr {
    border-radius: 50%;
    text-align: center;
}

.lie-checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #51df96;
}

.lie-radio .cr .cr-icon {
    color: #51df96;
}

.lie-radio .cr .cr-icon {
    margin-top: 0.3em;
    font-size: 0.8em;
}

.lie-checkbox label input[type="checkbox"],
.lie-radio label input[type="radio"] {
    display: none;
}

.lie-checkbox label input[type="checkbox"] + .cr > .cr-icon,
.lie-radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(2) rotateZ(-50deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.lie-checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.lie-radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.lie-checkbox label input[type="checkbox"]:disabled + .cr,
.lie-radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* Ende Lieferzonas General Checkbox and Radio */

/* Cart */

#lie-shopping-cart-header {
    margin-bottom: 2px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#lie-shopping-cart-pickup-toggle {
    padding: 5px;
    text-align: center;
    margin-bottom: 2px;
}

#lie-shopping-cart-my-order {
    padding: 10px 15px;
    margin-bottom: 2px;
}

.lie-cart-element-container {
    padding: 10px;
    margin-bottom: 2px;
}

.lie-cart-item-count {
    font-weight: bold;
}
.lie-cart-item-name {
    font-weight: bold;
}
.lie-cart-item-price {
    font-weight: bold;
}

.lie-cart-extra-bullet {
    padding-left: 18px;
    font-size: 13px;
}
.lie-cart-extra-name {
    font-size: 13px;
}
.lie-cart-extra-price {
    font-weight: bold;
    font-size: 13px;
}

.lie-cart-calc-price-cell {
    white-space: nowrap;
    text-align: right;
}
.lie-cart-calc-table {
    font-size: 12px;
    line-height: 160%;
    color: #AAA;
}

.lie-cart-sum-text {
    font-weight: bold;
}
.lie-cart-sum-amount {
    font-weight: bold;
}

.lie-cart-item-buttons {
    font-weight: lighter;
    font-size: 12px;
}

/* End Cart */

/* Zipcode entry form */

.lie-zipcode-input-field {
    border: none;
    width: 289px;
    height: 58px;
    padding-left: 20px;
}

#lie-geolocation-button {
    background-color: grey;
    color: white;
    height: 58px;
    border-radius: 0px;
}

#lie-map-marker {
    padding-left: 10px;
    padding-right: 10px;
}

#lie-continue-button {
    background-color: #27ae60;
    font-weight: bolder;
    border-radius: 0px;
    height: 58px;
    font-size: 24px;
    color: #FFFFFF;
}

/* ------------------ */

/* order_summary */

.lie-order-summary-container {
    min-width: 680px;
}

.lie-order-overview {
    border-top: 3px solid lightgreen;
}

.lie-order-heading {
    font-family: Roboto-Black;
    font-size: 40px;
    color: green;
}

.lie-order-table-description-cell {
    padding-left: 20px;
}

.lie-order-table-single-cell {
    text-align: center;
}

.lie-order-table-count-cell {
    text-align: center;
}

.lie-order-table-total-cell {
    text-align: center;
}

.lie-order-table th {
    background-color: lightgreen;
    color: white;
    padding-top: 4px;
    padding-bottom: 7px;
}

.lie-order-table td {
    font-weight: bolder;
}

.lie-order-comment {
    background-color: #CCCCCC;
}

.lie-order-additional-info-container {
    padding-top: 25px;
    padding-left: 20px;
}

.lie-order-calculations-table {
    color: grey;
    font-size: 14px;
}

.lie-order-calculation-amount {
    text-align: right;
}

/* ------------- */

/* Explore Restaurants */

.lie-explore-restaurants {
    padding-top: 15px;
    width: 100%;
}

.lie-explore-restaurants-headline {
    padding: 6px 6px 6px 15px;
    text-align: left;
}

.lie-explore-restaurants-elements-container {
    padding: 15px;
    background-color: white;
    border-top: 1px solid grey;
}

.lie-explore-restaurant {
    width: 33%;
    padding: 3px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

/* ------------------- */

/* Checkout Payment Methods */

.lie-paragraph-header {
    font-family: Harabara-Bold;
    font-weight: bolder;
    font-size: 18px;
}

.lie-payment-method-box {
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
    border: 2px ridge #AAAAAA;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
    width: 100px;
    height: 150px;
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.lie-payment-method-box.active {
    border: 2px ridge #47d5ad;
}

.lie-payment-methods-container {
    display: flex;
    justify-content: space-around;
}

.lie-payment-method-logo {
    display: inline;
}

.lie-payment-method-text {
    color: #888888;
    font-size: 13px;
}

/* ------------------------ */

/* Addresses */

.lie-name-phone-table {
    position: relative;
    margin-left: 15%;
    z-index: 1;
}

.lie-gray-bottom-line {
    position: absolute;
    bottom: 0px;
    background-color: #f6f6f6;
    width: 100%;
    height: 20px;
    z-index: 0;
}

.lie-add-address-gray-line {
    position: absolute;
    top: 38px;
    height: 20px;
    background-color: #f6f6f6;
    width: 100%;
}

.lie-delete-address-button {
    background: #000;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 25px;
    padding: 3px 4px;
    font-size: 8px;
    cursor: pointer;
}

.lie-order-here-link {
    font-family: 'Harabara-Hand';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.lie-order-here-span {
    text-decoration: underline;
    cursor: pointer;
}

.lie-add-address-container {
    text-align: center;
    width: 33%;
    height: 350px;
    display: inline-block;
}

.lie-address-container {
    position: relative;
    text-align: center;
    width: 33%;
    height: 350px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.5s;
    display: inline-block;
}

.lie-address-container.active {
    border: 2px solid #47d5ad;
}

.lie-address-data-table {
    font-size: 14px;
}

.lie-address-data-value-cell {
    color: #AAAAAA;
}

/* --------- */

/* Utilities */

.lie-nowrap-ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

/* --------- */