@media (min-width:1367px){
	.container{width:1350px;}
	.home-header .navbar-brand > h1 img{width:100%; margin-top:-27px;}
}

@media (max-width:1199px){
.home-header{padding-top:35px;}
.home-header{background-size:100% 100%;} 
.home-header.inner-header{ padding-top: 0px;}
.home-header .navbar-brand img{width: 300px;}

.order-list .peoplebox2 .media-left{display:block;}
.tabbing-side .nav-tabs > li > a{font-size:17px;}
.switch-btn, .switch-btn + .map-marker{margin: 20px auto 40px;}
.apptext figure { margin: 30px 0 20px;}
.apptext figure img{width:29%;}
.apptext h2 strong{font-size: 40px;}
.apptext h2{font-size: 30px;}
.video3box{width: 280px;}
.deine_box .media h3{font-size: 20px;}
.social-foot li a{  width: 50px; font-size: 25px; height: 50px; line-height: 46px;}
.tabbing .nav-tabs > li > a{font-size: 17px;}

.tabbing-side {position: relative; top: -46px;}
.pay-type-list li{width:120px;}
.action_menu figure img{width:90px;}
._well{padding:5px 5px 5px 0px;}
.Coupon-Code-main {margin: -12px 25px 0;}
.Coupon-Code-main .input-lg{font-size: 14px; height: 40px;}
.preoder{margin-top:10px; float:left; width:100%;}
}

@media (max-width:991px){
.app-img{margin:0;}
.home-header .navbar-brand img {width: 250px;  margin-top: -13px;}	
.modal-lg2 {width: 700px;}
.tabbing-side .nav-tabs > li > a{ font-size: 14px; padding: 10px 5px;}
.home-header{min-height:auto;}	
.video3box{width: 200px;}
.video3box img{width:100%;}
.video3box h4{font-size: 20px;}
.video3box i{font-size: 30px; width: 40px; height: 40px;}
.social-foot li a{margin:0;}
.links_box{padding: 0 10px;}
.links_box.pd{padding: 0 0 0 10px;}
.links_box h3{font-size:16px;}
.links_box a{font-size:14px; margin-bottom:5px; display:inline-block;}
.main-menu .bootstrap-select{width: 150px !important;}
.media-1 > .media > .pull-left{float:none !important; margin-bottom:10px;}
.media-1 > .media .well{padding:0;}
.bonus-point h3{font-size: 18px;}
.tabbing-side {position: relative; top: -42px;}
.bannr-form.dashbanner{padding:15px;}
.bannr-form.dashbanner .form-bg h2{font-size:20px;}
.bannr-form.dashbanner .input-form-add .form-control{font-size: 18px; height: 40px;}
.box-5{width:50%;}
.collem-side h2{font-size:18px;}
.list li {font-size: inherit;}
.content-red h3{font-size:20px;}
.rating_title{font-size: 20px;}
.pay-type-list li { margin-bottom: 10px; width: 130px;}
.action_menu figure {display:block; margin-bottom:5px;}
.item_list .left{width:100%; margin-bottom:5px;}
.item_list aside{width:100%;}
.Coupon-Code-main{ float: left; margin: 10px 0 -10px; padding: 0 5px; width: 100%;}
.profile-pic img{width:130px;}
.pic-file span{font-size:17px;}
}

@media (max-width:767px){

.main-menu > li{margin-bottom:10px; width:100%;}
.main-menu > li > a{margin:0;}
.navbar-collapse.in{overflow-y: visible;}
#login-dp{ margin: 0; right: 0;  min-width: 268px; overflow: hidden; border: 1px solid #81c02f;}
	
.head-bar .btn-grn-top{font-size:15px; font-family: 'robotoregular'; width:220px; margin-left:-110px;}
.home-header .navbar-brand img { width: 180px; margin:0 0 0 10px;}
.switch-btn, .switch-btn + .map-marker{margin: 0px auto 30px;}	
.bannr-form .form-bg h2{font-size:16px;}
.bannr-form .input-form-add .form-control{font-size:16px; height:40px;}
.bnr-fom-fot h3{font-size:14px;}
.apptext figure { margin: 20px 0 20px;}
.apptext h2 strong{font-size:22px;}
.apptext h2 {font-size: 17px;}
.title{font-size:24px;}

.video3box{ width:230px; margin:10px 0;}
.btn-video{ font-size:20px; margin-top:10px;}
.btn-video .fa-play-circle {font-size: 30px;}
.title2 { font-size: 20px;}

.deine_box li{margin-bottom:10px;}
.deine_box .right .pull-right{float:left !important; padding:0 10px 0 0;}
.deine_box .media.right span{right:-15px; left:auto; padding: 0 0 8px 0; border-bottom: 1px solid #fff; border-top: none;}
.deine_box .media.right small{margin: 0 20px 0 0;}

.deine_box .media small{background:none !important; color:#fff; text-align:center;}

.links_box, .links_box.pd, .links_box.last{padding:0; border:none; text-align:center;}

.links_box a{font-size:15px;}
h3 { font-size: 18px;}
h4 { font-size: 15px;}
.social-foot li a{width:40px; height:40px; margin:0; line-height: 39px; font-size: 20px;}
.icon-footer img{max-width:100%;}
.red-footer{padding:10px ;}
.content-red a{font-size:18px;}
.flinks a{display:block; font-size:16px; line-height: 7px;}
.foot-logo, .foot-logo p{text-align:center;}	
.foot-logo img {width:200px;}

.modal-lg2 {margin: 15px auto; width: 90%;}
.modal-left, .modal-right {margin: 0px;}
.modal-right{margin-top:50px;}
.modal-right.oder:before{width:100%; background:none;}
.modal-right.oder:after{border: 1px solid #ddd; border-radius: 5px; left: 50%; margin-left: -55px; padding: 8px 0; text-align: center; top: -50px; width: 110px;}

.app-img, .foot-box img {display: block; margin: 0 auto; width: 480px;}
.apptext figure img {width: 150px;}
.video3box {margin: 10px 50px; width: 300px;}
.box-5 .thumbnail{max-height: 180px; min-height: 180px;}
/*Inner*/
.navbar-nav.main-menu > li > .bootstrap-select{margin-left:0 !important; width: 100% !important;}
.navbar-nav.main-menu > li > .bootstrap-select li{margin:0;}
.navbar-nav.main-menu > li > .bootstrap-select li.selected a, .navbar-nav.main-menu > li > .bootstrap-select li:hover a{background:#C42127;}
.navbar-nav.main-menu > li > .bootstrap-select a{padding:5px; color:#fff; font-family: 'robotoregular'; white-space:normal; background:none;}
.navbar-nav.main-menu > li > .bootstrap-select .dropdown-menu.open{border:solid #fff 1px; border-radius:0; margin-top:5px;}
.foot-box h3, .footlink{text-align:center;}

.main-dash-section{height:auto; padding:10px 0;}
.bonus-point h3{font-size: 16px;}
.tabbing .panel-heading{padding:5px 5px 0;}

.tabbing ul li.media{text-align:center;}
.tabbing ul li.media .pull-left{width:100%; padding:0 0 5px 0; display:block;}
.tabbing ul li.media .media-object{display:inline-block;}
.tabbing .well{padding:0;}
.tabbing .well .list-arro{float:right; font-size:40px; margin-top:-5px;}
.tabbing .well .heart{float:left;}
.tabbing-side{top:0;}

.map-details{ max-width: 92%;}
.list2 li{width:50%;}
.img_title{height:150px; overflow: hidden;}
.img_title h2{margin:0; font-size:20px;}
.img_title h2.green + br + h2 {  margin-top: 0;}
.bestseller_title{font-size:20px;}
.links ul{margin-left:0;}

.btn-twt, .btn-fb{font-size:16px;}
.head-bar .t_box img{width:70px;}
.head-bar .t_box p {font-size: 11px;}
.head-bar .t_box span{height: 30px; line-height: 20px; width: 30px;}
.head-bar h3{margin-top:0;}
.icon-footer img{margin:0 auto;}
.star-img{margin-top:10px;}
.main-dash-section{height:auto;}
.content-red h3 span{display:block; margin:5px 0;}
.xs-center, .xs-center .text-right{text-align:center !important;}
.xs-center img{display:inline-block;}
.action_menu figure {display:table-cell;}

.item_list .left{width:60%; margin-bottom:0px;}
.item_list aside{width:40%;}
}

@media (max-width:543px){
.preview-lst{text-align:center;}	
.preview-lst .box-5{display: inline-block; float: none; width: auto;}
.preview-lst .box-5 .thumbnail{margin:0;}
.preview-lst .rate-ap{float:left !important;}
.preview-lst .list-arro{float:right; font-size:40px;}
.list2 li{width:100%;}
.checkbox3_list label{width:50%;}
.full543{width:100%;}

.search_min{text-align:center;}
.search_min .media-left{display:block; text-align:center; padding:0;}
.search_min .media-left img{width:100px; display:inline-block;}
.search_min .img-responsive{width:100%;}
.s_detail .btn-red2{position:relative; margin:0;}
.s_detail ul {  position: relative;   top: 0;}
.head-bar .t_box{width:50%;}
.video3box {margin: 10px 0; width: 290px;}

.deine_box .media small{width: 50px; font-size: 35px; line-height: 100px;}
.pagination > li > a{ border: 3px double #fff; height: 30px; line-height: 17px; margin: 0; padding: 3px; width: 30px;}
.pagination > li > a i{ line-height: 25px;}
.tabbing .nav-tabs > li > a{font-size: 14px; padding: 5px 15px; min-height: 52px;}
.app-img, .foot-box img {display: block; margin: 0 auto; width: 480px;}
.tabbing .nav-tabs > li > a{font-size:12px; padding: 5px 0; min-height:auto;}
.green-list li{width:100%;}
.green-list li:nth-child(even){ margin-top:-5px; margin-bottom:5px;}
.require_star{width: 95%;}
.action_menu figure {display:block; padding:0;}
.item_list .left{width:100%; margin-bottom:5px;}
.item_list aside{width:100%;}
.pay-type-list li{width:48.5%;}
.profile-pic{float: none !important; margin: 0 auto; padding: 0 !important; width: 180px;}
.profile-pic img{width:180px;}
.pic-file span{font-size:12px;}
.prof-list{text-align:center; margin-bottom:15px;}
}


