@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'choplinmedium-demo';
    src: url('../fonts/choplin-medium-demo-webfont.eot');
    src: url('../fonts/choplin-medium-demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/choplin-medium-demo-webfont.woff2') format('woff2'),
         url('../fonts/choplin-medium-demo-webfont.woff') format('woff'),
         url('../fonts/choplin-medium-demo-webfont.ttf') format('truetype'),
         url('../fonts/choplin-medium-demo-webfont.svg#choplinmedium-demo') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #81C02F; color:#fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #81C02F; color:#fff; /* Gecko Browsers */
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}
.flaticon-game:before { content: "\f100"; }
.flaticon-road:before { content: "\f101"; }
.flaticon-tag:before { content: "\f102"; }
.flaticon-tool:before { content: "\f103"; }

a, input[type=submit], button{transition:all 0.5s ease 0s;}
a, a:hover{color:#81C02F; outline:none !important; text-decoration:none;}
a:hover{color:#c42127;}
.btn:hover, .btn:focus, .btn.focus{color:inherit;}
html {


  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {overflow-x:hidden; margin: 0; font-size:15px; font-family: 'robotoregular'; padding-right:0 !important; 
 transition:all 0.4s ease-in; -webkit-transition:all 0.4s ease-in; -moz-transition:all 0.4s ease-in; -ms-transition:all 0.4s ease-in;}
.modal-open {
    overflow:visible;
}
.home-header{background:url(../img/main-banner.jpg) no-repeat center top; background-size:100%; padding:0 0 40px; margin:0; border-bottom:15px solid #ffea00; min-height:620px;}
.home-header .navbar-brand{padding:0;}
.home-header .navbar-brand img{width:330px; /*margin-top:-23px;*/}

.head-bar{background:#81c02f; position:relative; padding:7px 0; text-align:center; color:#fff; font-family: 'robotobold';}
.head-bar h3{font-family: 'choplinmedium-demo';}
.head-bar .btn-grn-top{  background: #81c02f; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; color: #fff; font-size: 18px; left: 50%; margin-left: -140px; padding: 5px 15px 9px; position: absolute; bottom: -35px; width: 280px; z-index:9; text-decoration:none;}
.head-bar .t_box{font-size:16px; margin-bottom:15px;}
.head-bar .t_box p{height:50px; display:table; width:100%;}
.head-bar .t_box p strong{display:table-cell; vertical-align:bottom;}
.head-bar .t_box span{background:#ffff00; color:#000; padding:5px; display:inline-block; width:40px; height:40px; line-height:30px; border-radius:90%;}



.main-menu{margin:10px 0; /*font-family: 'robotobold';*/ font-size:16px;}

.main-menu > li > a{color:#fff; background:transparent; border:1px solid #fff; margin:0 0 0 10px; padding:5px 15px;}
.main-menu li a:hover, .main-menu li.open a{color:#81c02f; background:transparent; border-color:#81c02f;}
.border-none{border:none !important;}

/*-- banner --*/
.bannr-form{}
.bannr-form .input-form-add{width:100%; float:left; padding:0;}
.bannr-form .input-form-add .form-control{ height:60px; float:left; font-size:25px; text-align:center;}
.bannr-form .input-form-add .form-control:first-child{border-top-right-radius:0; border-bottom-right-radius:0; width:60%;}
.bannr-form .input-form-add .form-control:last-child{width:38%; margin-left:2%;  border-radius:0; text-transform:uppercase; background:#81c02f; border-color:transparent;}
.bannr-form .input-form-add .form-control:last-child:hover{background:#50aecc;}
.block-bttn{display:block;}
.bannr-form .form-bg{background:rgba(255,255,255,0.5); padding:15px 15px; border-radius:8px; border:1px solid #fff;}
.bannr-form .form-bg h2{ font-size:23px; color:#fff; margin:0; text-align:center; padding:10px 0;}

.bnr-fom-fot h3{font-size:18px; margin:0; padding:0; text-align:center; color:#373737; font-family: 'robotobold'; margin-bottom:8px;}

.paypal-icon-bnr{margin:0; padding:0; text-align:center;}
.paypal-icon-bnr li{list-style:none; display:inline-block; margin:1px;}
.paypal-icon-bnr li img{border-radius:3px;}
.paypal-btn{background:rgba(225,128,0,1.00); padding:7px 10px; border-radius:4px; color:#fff; font-size:16px; text-decoration:none;}
.paypal-btn:hover{color:#eee;}

/*Kushal*/

.app-img{position:relative; margin-top: -140px; max-width: 100%;}
.apptext figure{margin:90px 0 50px 0;} 
.apptext figure a{margin:0 10px;}
.apptext h2{font-size:37px; font-family: 'robotobold'; color:#000;}
.apptext h2 strong{color:#81c02f; display:block; font-size:50px;}

.so_bg{background:#fbfafa; padding:20px 0 50px 0; margin-top:35px;}
.title{ font-family: 'robotothin'; color:#81c02f; font-size:60px; margin-bottom:15px;}
.video3box{background:#fff; box-shadow: 0 0 7px 1px rgba(129, 192, 47, 0.3); width:290px; padding:15px; display:inline-block; margin:10px 15px 15px 15px;}
.video3box h4{ font-family: 'robotothin'; color:#444; font-size:30px}
.video3box i{width:55px; height:55px; background:#ffea00; color:#fff; display:inline-block; font-size:40px; border-radius:90%; text-align:center; font-family: 'robotobold'; font-style:normal; margin:20px 0;}
.video3box.first{border-bottom-right-radius:20px;}
.video3box.second{border-bottom-left-radius:20px; border-top-right-radius:20px;}
.video3box.third{border-top-left-radius:20px;}

.btn-video{ font-family: 'robotothin'; color:#81c02f; font-size:30px; border:solid #ffea00 4px; padding:5px 10px; display:inline-block; border-radius:3px; background:#fff;}
.btn-video .fa-play-circle{font-size:42px; vertical-align: text-top;}
.btn-video:hover{color:rgb(196,33,39); text-decoration:none;}

.title2{font-size:40px; font-family: 'robotobold';}
.deine_box_main{padding:50px 0}

.deine_box li{float: left; width: 100%; margin-bottom:5px;}
.deine_box .media{ color:#fff; font-size:20px; overflow:visible; height:102px;}
.deine_box .media .pull-left, .deine_box .media .pull-right{position:relative;}
.deine_box .media small{ margin-right:20px; display: inline-block; height: 102px; width: 100px; color:transparent; font-size:70px;}

.deine_box .media.right small{margin:0 0 0 20px;} 
.deine_box .media.right{overflow:hidden;}
  
.deine_box .media span{ border-bottom: 1px solid #fff; bottom: 40px; display: inline-block; font-size: 18px; position: absolute; right: -15px; padding-bottom:8px; text-shadow: 0 2px 0 rgba(0, 0, 0, 0.7); transform: rotate(-90deg);}
.deine_box .media.right span{ border-bottom: medium none; border-top: 1px solid #fff; left: -15px; padding: 8px 0 0;    right: auto;} 
  
.deine_box .media.one{background:#00a1c0;}
.deine_box .media.one small{background: rgba(0, 0, 0, 0) url("../img/number.png") no-repeat scroll 0 0; background-position:0 -12px;}
.deine_box .media.two{background:#1961A4;}
.deine_box .media.two small{background: rgba(0, 0, 0, 0) url("../img/number.png") no-repeat scroll 0 0; background-position:0 -121px;}
.deine_box .media.three{background:#A94A8F;}
.deine_box .media.three small{background: rgba(0, 0, 0, 0) url("../img/number.png") no-repeat scroll 0 0; background-position:0 -229px;}
.deine_box .media.four{background:#C32027;}
.deine_box .media.four small{background: rgba(0, 0, 0, 0) url("../img/number.png") no-repeat scroll 0 0; background-position:0 -337px;}
.deine_box .media.five{background:#DDC575;}
.deine_box .media.five small{background: rgba(0, 0, 0, 0) url("../img/number.png") no-repeat scroll 0 0; background-position:-100px -12px;}
.deine_box .media.six{background:#E8AF2C;}
.deine_box .media.six small{background: rgba(0, 0, 0, 0) url("../img/number.png") no-repeat scroll 0 0; background-position:-100px -121px;}
.deine_box .media.seven{background:#DB6E82;}
.deine_box .media.seven small{background: rgba(0, 0, 0, 0) url("../img/number.png") no-repeat scroll 0 0; background-position:-100px -229px;}
.deine_box .media.eight{background:#C8274A;}
.deine_box .media.eight small{background: rgba(0, 0, 0, 0) url("../img/number.png") no-repeat scroll 0 0; background-position:-100px -337px;}
.deine_box .media h3{padding:10px; text-align:center;}

.links_box_bg{background:#fbfafa; padding:50px 0}
.links_box{padding:0 10px 0 70px; border-left:solid #ddd 2px;}
.links_box.pd{padding:0 0 0 40px;}
.links_box.last{ border-right:solid #ddd 2px;}
.links_box a{color:#81c02f; font-size:18px; margin-bottom:10px;}
.links_box a:hover{color:#C42127;}

.links_box ul li h3{margin:0;}
.live_box{background:#c6ec95; border-top-left-radius:10px; border-top-right-radius:10px; border-bottom:solid #81c02f 3px; padding:5px;}
.live_box h2{color:#fff; margin:0; background:url(../img/hbg.png) repeat-x top center;  border-top-left-radius:7px; border-top-right-radius:7px; padding:8px 25px 10px 25px; font-family: 'robotobold'; font-size:40px;}
.textb{border-bottom:solid #fff 1px; height:60px; padding:5px; margin-top:5px;}

.flinks{color:#fff; margin:15px 0 35px 0;}
.flinks a{color:#fff; font-size:22px;}

#login-dp{
    min-width: 320px; margin-top:20px;
    background-color:rgba(255,255,255,1);
  padding:0; color:#999;
  position:absolute;
}
#login-dp:before{position:absolute; top:-30px; right:18%; border:16px solid transparent; border-bottom:16px solid #81c02f; content:''; z-index:99;}

#login-dp h2{background:#81c02f; margin:0; font-size:17px; padding:10px; text-align:center; color:#fff; font-family: 'Roboto Condensed'; }
#login-dp label{font-weight:normal; font-size:13px; }
#login-dp input{background:#eceff4; border:solid #ced6e1 1px; font-size:13px; border-radius:0;}
#login-dp .button{background:#81c02f; border:none; font-family: 'robotobold'; font-size:16px; border-radius:2px;}
#login-dp .button:hover{background:#C42127; color:#fff;}
#login-dp .bottom{ background-color:#e6e6e6;    padding:1px;}
#login-dp a{margin:0; padding:0; color:#81C02F; font-size:13px; border:none;}
.green{color:#81C02F;}
#login-dp a.btn-fb{background:#55acee; color:#fff; padding:10px 0; text-align:center; border-radius:0; width:50%; float:left; margin-top:-15px;}
#login-dp a.btn-tw{background:#3b5998; color:#fff; padding:10px 0; text-align:center; border-radius:0; width:50%; float:left; margin-top:-15px;}
.bottom h4{cursor:pointer;}
.modal-title{font-family: 'Roboto Condensed'; font-size:22px; }
.modal-input { background: #eceff4 none repeat scroll 0 0; border: 1px solid #ced6e1; border-radius: 0; font-size: 13px;}
.robotoregular{font-family: 'robotoregular';}
.modal-md{width:500px;}
.modal-lg2{width:800px;}
.modal-lg2 .modal-content{border-radius:0; padding:0 20px;}
.modal-left{margin-right:25px;}
.modal-right{margin-left:25px; position:relative;}
.modal-right.oder:after{content: "ODER"; padding:10px 0px; left: -60px;  position: absolute;  top: 40%;  width: 30px; color:#888; font-size:13px; background:#fff;}
.modal-right.oder:before{content:''; width:30px; height:100%; background:url(../img/lbg.png) no-repeat center top; left: -60px;  position: absolute; top: 0;}

.brn-rg{background:#81c02f;font-family: 'Roboto Condensed'; font-size:20px; font-family: 'robotobold'; text-transform:uppercase;}
.bfcolor, .trcolor, .gpcolor{border-radius:3px; border:none; text-align:left; padding:15px 20px;}
.bfcolo{background:#3b5998;}
.trcolor{background:#55acee;}
.gpcolor{background:#dc4838;}

/*--- inner banner  --*/
.bannner-section{padding:40px 0;}
.bannr{background:url(../img/Pizza-2.jpg) no-repeat center; padding:40px 10px;}
.form-bg{background:rgba(255,255,255,0.8); padding:5px 15px;}
.form-bg h2{ font-size:20px; margin:0; text-align:center; padding:10px 0;}
.input-form-add{width:100%; float:left; padding:0;}
.input-form-add .form-control{width:50%; height:60px; float:left; font-size:25px; text-align:center;}
.input-form-add .form-control:first-child{border-top-right-radius:0; border-bottom-right-radius:0;}
.input-form-add .form-control:last-child{border-top-left-radius:0; border-bottom-left-radius:0; text-transform:uppercase; background:#50aecc; border-color:transparent;}
.input-form-add .form-control:last-child:hover{background:#81C02F;}
.block-bttn{display:block;}
.checkk img{vertical-align:bottom;}

.star-img {max-width:250px; margin:0 auto;}
.star-img img{width:100%;}

/*--- banner end  --*/
.work-section{padding:20px 0;}
.work-section h2{font-size:22px; border-bottom:1px solid #ddd; padding-bottom:10px;}
.video-img{margin:auto 10%;}
.video-img img{width:100%;}

.side-link{margin:0; padding:0;}
.side-link li{list-style:none; margin:3px 0; padding:0; display:block;  border-bottom:1px solid #ddd;}
.side-link li a{display:block; width:100%; padding:5px; text-decoration:none; color:#50aecc; font-size:15px; position:relative;}
.side-link li a:hover{ color:#81C02F;}

/* ---  footter --*/
.icon-footer{background:#c6ec95; padding:20px 0; margin-top:50px; border-bottom:2px solid #81c02f;}
.icon-content-foot{padding:10px 0;}
.icon-content-foot > h3{color:#81c02f; margin:0; padding:0; text-align:center;}
.social-foot{margin:20px 0 0; padding:0;}
.social-foot li{list-style:none; display:inline-block;}
.social-foot li a{width:60px; height:60px; margin:0 5px; background:#c42127; color:#fff; border:2px solid #fff; border-radius:100%; display:block; text-align:center; line-height:56px; font-size:28px;}
.social-foot li a:hover{background:#81c02f; border-color:rgba(255,255,255,0.8);}
.social-foot li a i{line-height: inherit;}
.red-footer{padding:30px 0; margin:0; background:#c42127;}
.content-red h3{color:#fff; margin:0;}
.content-red h3 span{margin-left:15px;}
.content-red a{color:#fff; text-decoration:underline;}
.content-red a:hover{text-decoration:none;}

.footer-section{background:#81c02f; padding:20px 0;}
.foot-box{padding:10px;}
.footlink{margin:0; padding:0;}
.footlink li{margin:3px 0; padding:0; list-style:none; display:block;}
.footlink li a{display:block; color:#fff; padding:2px; margin:0; font-family: 'robotobold'; text-decoration:none;}
.footlink li a:hover{color:#C42127;}
.foot-box img{width:100%;}
.foot-box h3{margin:0; padding:0; color:#000;}
.foot-logo img{width:40%;}
.foot-logo p {text-align:right;}
.foot-logo p a{color:#333;}
.foot-logo p a:hover{color:#C50505;}

/*-- inner header --*/

.btn-transp{background:transparent; border:1px solid #fff; color:#fff; border-radius:0;}
.btn-transp-2{background:transparent; border:1px solid #fff; color:#fff; border-radius:0;}
.main-menu .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {    /*width: auto;*/ margin-left:10px;}
.btn-transp:hover, .btn-transp-2:hover{color:#81c02f;}
.inner-header{background:url(../img/top-bg.png) no-repeat center top; background-size:cover; border-bottom-width:10px; min-height:inherit;}

/*--  dashboard --*/
.video-section img{width:100%;}
.main-dash-section{background:url(../img/black_board.png) no-repeat top center; padding:20px 0; margin:0; background-size:100% 100%; height:85px;}
.bonus-point{padding:8px 0;}
.bonus-point h3{font-size:24px; color:#fff; margin:0; text-transform:uppercase;}
.bonus-point h3 span{color:#81c02f;}
.bannr-form.dashbanner{background:url(../img/black_wood.png) no-repeat; background-size:cover; padding:15px 0;}
.bannr-form.dashbanner .form-bg h2{color:#000;}
.bannr-form.dashbanner .form-bg{padding:10px;}
.bannr-form.dashbanner .switch-btn{margin:0 auto;}
/*.margin-lg-top{margin-top:50px;}*/
.margin-sm-bott{margin-bottom:10px;}
.margin-sm-top{margin:15px 0;}

.tabbing{margin:20px 0;}
.tabbing .nav-tabs{border:none}
.tabbing .panel-heading{background:url(../img/black_board.png) no-repeat top center; background-size:100% 100%; padding-bottom:0;}
.tabbing .nav-tabs > li{width:48%; text-align:center; margin:2% 1% 0;}
.tabbing .nav-tabs > li > a{font-size:26px; font-family: 'robotobold'; background:#333; color:#fff;}
.tabbing .nav-tabs > li.active > a{background:#fff; color:#81c02f;}
.tabbing .well{background:transparent; border:none; box-shadow:none; padding-top:0; padding-bottom:0;}
.tabbing .dd{color:#81c02f;}
.tabbing .redd{color:#C9070A;}
.tabbing ul li.media{border-bottom:1px solid #eee;}
.tabbing ul li.media:last-child{border-bottom:none;}

.tabbing-side{position:relative; top:-51px;}
.tabbing-side .nav-tabs{border:none}
.tabbing-side .panel-heading{background:url(../img/black_board.png) no-repeat top center; background-size:100% 100%; padding-bottom:0;}
.tabbing-side .nav-tabs > li{width:48%; text-align:center; margin:0 1% 0;}
.tabbing-side .nav-tabs > li > a{font-size:16px; font-family: 'robotobold'; background:#333; color:#fff; line-height:29px;}
.tabbing-side .nav-tabs > li.active > a{background:#fff; color:#81c02f;}

.list-arro{font-size:60px; text-align:right; display:block; line-height:1; color:#81c02f;}
.heart i{color:#BFBFBF; font-size:30px; margin-left:10%; cursor:pointer;}{color:#BFBFBF;}  .heart i.active{color:rgba(221,7,11,1.00);}
.star{display:inline-block;}
.star li{margin:0; padding:2px;}
.star li i{font-size:22px; color: #ffea00;}
.star2 i{color:#dfda00;}
.redborderbtn{border:1px solid #BC0E11; color:#BC0E11;}
.collem-side{padding:20px 0;}
.collem-side h2{color:#81c02f; margin:0; text-align:center;}

.list li {
  padding: 5px;
  font-size: 16px;
  position:relative;
  border-bottom:1px solid #ddd;
}
.list li:last-child {border-bottom:none;}
/* line 136, ../sass/screen.scss */
.list li .media {
  margin-top: 0;
  color: #0c5084;
}
/* line 137, ../sass/screen.scss */
.list li:hover {
  background: #eee;
}
/* line 138, ../sass/screen.scss */
.list img {
  width: 50px;
}
/* line 139, ../sass/screen.scss */
.list span {
  display: block;
  color: #656565;
  margin: 3px 0;
}
/* line 140, ../sass/screen.scss */
.list small {
  display: block;
  color: #656565;
}
.icon-rght{position:absolute; right:10px; top:30%; font-size:30px;}
.app-sp .text-success{color:#81c02f; margin:0 0 3px 0; display:block;}
.app-sp p{margin:0; font-size:14px; line-height:normal; color:#7b7b7b;}
.app-sp a{color:#c42127;}
.app-sp a:hover{color:#000;}
.pricebox-1{text-align:right;}
.pricebox-1 aside{color:#81c02f;}
.pricebox-1 > span{margin:15px 0; display:block;}
.text-grey{color:#777;}
.order-list{margin:10px 0;}
.order-list .peoplebox2{border-bottom:1px solid #ddd; padding:10px 0;}
.order-list .peoplebox2:first-child{border-top:1px solid #ddd;}
.order-list .peoplebox2:last-child{border-bottom:none;}
/*-- box-5 --*/

.thumbs-five{margin-left:-1%; margin-right:-1%;}
.box-5{width:20%; float:left; padding:1%;}
.box-5 .thumbnail{border:2px solid #81c02f; min-height:125px; max-height:125px; overflow: hidden;}
.box-5 .thumbnail span{color:rgba(146,146,146,1.00);}
.box-5 .thumbnail span i{font-size:24px; color:#81c02f;}

.preview-lst .well{background:transparent; border:none; box-shadow:none; margin-bottom:0;}
.preview-lst .dd{color:#81c02f;}
.preview-lst ul li.media{border:1px solid #81c02f;}

.pagination>li>a, .pagination>li>span{background:#aaa; border-radius: 50% !important;margin: 0 7px; color:#000; border:6px double #fff;}

.pagination > .active > a{background:#81c02f; border-color:#fff;}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {border:none; background:#fff; font-size:30px; padding:2px; color:#81c02f;}
.pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{    z-index: 2;
    color: #81c02f;
    background-color: #eee;
    border-color: #ddd;
}

.tabbing-side-links{margin:0; padding:0;}
.tabbing-side-links li{display:block; list-style:none; margin:0; padding:0; border-bottom:1px solid #eee;}
.tabbing-side-links li:last-child{border:none;}
.tabbing-side-links li a{display:block; color:#fff; background:#fff; color:#81c02f; padding:10px 20px; text-decoration:none; font-size:16px;}
.tabbing-side-links li a span{font-size:24px; margin-left:20px; vertical-align:middle;}
.tabbing-side-links li a img{border-radius:100%; border:1px solid #81c02f; height:50px; width:50px;}
.tabbing-side-links li a:hover{background:#c6ec95; color:#fff;}











/*KUSHAL*/
.red{color:#e30613;}
.yellow{color:#ffea00;}
.rating_title{background:rgba(0, 0, 0, 0) url("../img/black_board.png") no-repeat scroll center top; background-size:100% 100%; padding:15px; font-size:26px; color:#fff; font-family: 'robotobold'; margin-bottom:20px;}
.logo_nun{background:#e30613; font-size:40px; color:#fff; text-align:center;}
.logo_nun strong{background:#a7a7a7; display:block; font-size:24px; padding:5px 0;}

.btn-border{ font-family: 'robotothin'; color:#000; font-size:13px; border:solid #ffea00 2px; padding:5px 10px; display:inline-block; border-radius:3px; background:#fff;}

.btn-border2{color:#fff; font-size:18px; border:solid #81c02f 3px; padding:5px 10px; display:inline-block; border-radius:3px; background:#a7a7a7;font-family: 'robotobold'; text-align:center;}
.btn-border-big{color:#fff; font-size:20px; border:solid #81c02f 3px; padding:8px 25px; display:inline-block; border-radius:5px; background:#a7a7a7;font-family: 'robotobold'; text-align:center;}

.btn-border2:hover, .btn-border-big:hover{color:#fff; text-decoration:none; background:#81c02f;}



.table.table-defaultt > tbody > tr > td{position:relative;}
.border-rgt{position:absolute; right:0; height:90%; top:5%; width:1px; background:#aaa;}
.review-s{font-size:12px;}


.big-content h2{margin:50px 0;}
.big-title{font-size:90px; text-align:center;}
.big-title span{color:#81c02f; font-size:30px; display:block;}
.green-list{margin:0; padding:0;}
.green-list li{width:50%; padding:5px; list-style:none; display:inline-block; float:left; width:50%; color:#81c02f; font-family: 'robotobold';}

.profile-pic img{width:200px;}
.pic-file{ position:relative;}
.pic-file span{position:absolute; top:0; text-align:center; left:0; width:100%; background:#ddd; height:40px; line-height:40px; font-size:22px; cursor:pointer;}
.pic-file input{cursor:pointer; font-size:0px;}
.pic-file input{width:100%; float:left; position:relative; height:40px; z-index:11; opacity:0; cursor:pointer;}
.pic-file input:hover ~ span{background:#81c02f; color:#fff;}


.prof-form input[type="text"], .prof-form select, .input_gray{height:45px; background:#ddd; color:#222;}
.prof-form textarea{background:#ddd; color:#aaa;}
.btn-fb{background:rgba(8,84,187,1.00); color:#fff;  border:none; padding:10px 0; font-size:22px;}
.btn-twt{background:rgba(26,208,237,1.00); color:#fff; border:none; padding:10px 0; font-size:22px;}
.prof-list{margin:0; padding:0;}
.prof-list li{display:block; list-style:none; padding:8px; margin:2px 0;}
.border-radius{border-radius:0px;}

.checkbox input[type="checkbox"]{display:none; margin:0;}
.checkbox span{position:relative; margin-left:22px; font-weight:normal;}
.checkbox span:before{    position: absolute; width: 17px; height: 17px; top:2px; left: -22px; content:''; border:solid #81c02f 1px;}
.checkbox input[type="checkbox"]:checked + span:before  { content: "\f00c"; line-height:15px; font-family: 'FontAwesome'; color:#81c02f;}

.radiobox input[type="radio"]{display:none; margin:0px;}
.radiobox span{position:relative; margin-left:22px;}
.radiobox span:before{    position: absolute; border-radius:50px;  width: 25px;  height: 25px; top:-1px; left: -32px; content:''; border:solid #81c02f 1px;}
.radiobox input[type="radio"]:checked + span:before { content: "\f111"; font-family: 'FontAwesome'; color:#81c02f;  font-size: 12px; line-height: 25px; text-align: center;}


.radio-inline input[type="radio"]{display:none; margin:0px;}
.radio-inline span{position:relative; margin-left:22px;}
.radio-inline span:before{    position: absolute; border-radius:50px;  width: 25px;  height: 25px; top:-1px; left: -32px; content:''; /*border:solid #81c02f 1px;*/ background:#ddd;}
.radio-inline input[type="radio"]:checked + span:before/*, .radio-inline span.active:before*/ { content: "\f111"; font-family: 'FontAwesome'; color:#81c02f;  font-size: 12px; line-height: 25px; text-align: center;}

.conncted{color:#81c02f; text-align:center;}






/*-- toggle css--*/


.switch-btn {position: relative; display: inline-block; vertical-align: top; width: 180px; height: 40px; border-radius: 18px; cursor: pointer; margin:60px auto 80px auto;}
.switch-btn + .map-marker{margin:60px auto 80px auto; display:inline-block; line-height:34px;}
.checked-switch {position: absolute; top: 0; left: 0; opacity: 0;}
.text-switch {background-color: #fff; border: 1px solid #fff; border-radius: 5px; color: #000; display: block; font-size: 19px; height: inherit; position: relative; text-transform: uppercase;}
.text-switch:before, .text-switch:after {position: absolute; top: 50%; margin-top: -.5em; line-height: 1; -webkit-transition: inherit; -moz-transition: inherit; -o-transition: inherit; transition: inherit;}
.text-switch:before {content: attr(data-no); right: 11px;}
.text-switch:after {content: attr(data-yes); left: 11px; color: #000; opacity: 0;}
.checked-switch:checked ~ .text-switch {background-color: #fff; border: 1px solid #068506;}
.checked-switch:checked ~ .text-switch:before {opacity: 0;}
.checked-switch:checked ~ .text-switch:after {opacity: 1;}
.toggle-btn {background:#81C02F; border-radius:3px !important; height: 38px; left: 1px; position: absolute; top: 1px; width: 33px; }
.toggle-btn::before {    color: #fff;
    content: "||||";
    display: inline-block;
    font-size: 38px;
    letter-spacing: -3px;
    padding: 0;
    vertical-align: middle;
    line-height: 31px;
  margin-left:-3px;
}
.checked-switch:checked ~ .toggle-btn {left: 144px;}
 .text-switch, .toggle-btn {transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease;}

/*= add for "no-radius" =*/
.no-radius, .no-radius .toggle-btn{border-radius: 0;}
/*= add for "no-radius" end =*/

/*= add for "top-to-bottom" =*/
.circle-style .toggle-btn::before{background: linear-gradient(#dedede, #cacaca); border-radius: 50%; content: ""; height: 14px; margin-top: 6px; padding: 0; width: 14px;}
/* add for "top-to-bottom" end */

/* toggle switch css end */

/*28-3-16*/
.map-marker{background:#ffea00; padding:0px 10px; border:solid #fff 3px; border-radius:3px; color:#000; font-size:28px; display:inline-block;}
.map-marker i{line-height: inherit;}
.btn-border3{background:#fff; padding:3px 12px; border:solid #81c02f 2px; border-radius:3px; font-size:13px; display: inline-block; line-height: 35px; height:45px; vertical-align: super; font-size:15px;}
.btn-border4{background:#FFEA00; padding:3px 12px; border:solid #fff 3px; border-radius:3px; font-size:13px; display: inline-block; line-height: 35px; height:45px; vertical-align: super; font-size:15px;}
.btn-border4:hover{background:#81C02F; color:#fff;}
input[type=submit].btn-border3:hover{background:#FFEA00;}

.list2 li{width:25%; float:left; position:relative; padding:0 15px; font-family: 'robotobold'; font-size:15px; margin-bottom:5px;}
.list2 li:after{position:absolute; content: "\f105"; position:absolute; left:0 ; top:-4px; font-family: 'FontAwesome'; color:#81C02F; font-size:20px;}
.list2 li.none{ float:right; padding:0; margin-top:5px;}
.list2 li.none a{border:solid #81C02F 1px; padding:3px 10px; border-radius: 3px;}
.list2 li.none a:hover{color: rgb(196, 33, 39);}
.list2 li.none:after{display:none;}

.gray_bg{background:#e6e6e6;}

.img_title{height:270px; padding:25px 25px 25px 0; margin-top:2px; position:relative; overflow:hidden;}
.img_title figure{ left: 0; position: absolute; top: 0; width: 100%; z-index: -1;}
.img_title h2{font-family: 'robotobold'; color:#fff; background:#000; font-size:40px; display:inline-block; padding:15px; margin-top:70px;}
.img_title h2.green{background:#81c02f; margin:0;}
.img_title h2.green +br+ h2{margin-top:30px;}

.bestseller_title{font-family: 'robotobold';}
.bestseller_title small{color:#000; font-family: 'robotoregular'; margin-top:5px;}

.bestseller{font-size:18px; border-top:solid #ccc 1px; padding:5px 10px;}
.bestseller:hover{background:rgba(253, 247, 247, 0.86); color:rgba(105,176,76,1.00);}
.bestseller p{margin-top:12px;}
.bestseller p strong{font-size:26px; font-weight:normal; color:#000;}
.price_box{background:#81c02f; padding:5px 10px; border-radius:3px; text-align:right; color:#fff; margin-top:17px; cursor: pointer;}
.price_box a{color:#fff; padding:5px 5px 5px 10px; margin-left:8px; border-left:solid #fff 3px; display:inline-block;}
.price_box.gray{background:#898988;}

.bestseller_left{width:60%; float:left;}
.bestseller_right{width:40%; float:left; margin-top:20px;}

.p_rs{color:#d50000; margin:6px 0 0 0; font-family: 'robotobold';}

.links{font-size:20px;}
.links ul{margin:0 0 50px 0;}
.links ul li {width: 31.3333%; padding-left: 2%; float: left;}
.links ul li a{color:#333;}
.links ul li a:hover{color:#C42127;}

.tabbing-side.menu4 .nav-tabs > li{width:24%; margin:0 0.5%;}
.tabbing-side.menu4 .nav-tabs > li a{padding:10px 7px;}
.tabbing-side.menu3 .nav-tabs > li{width: 32%; margin:0 0.5%;}


.action_menu h4{font-family: 'robotobold'; color:#000; line-height:40px; border-bottom:solid #ccc 1px; padding-bottom:7px; margin-bottom:0;}
.action_menu h4 span{float:right; text-align:center; font-size:14px; line-height:20px;}
.action_menu h4 span i{color:#BFBFBF; font-size:20px; cursor:pointer;}
.action_menu h4 span i.fa-trash{color:#8493a8; margin-top:15px;}
.action_menu h4 span i.fa-trash:hover{color:#D50000; }
.action_menu figure img{width:130px;}
.action_menu [class*="fa-star"]{color:#ffcc00; font-size:20px; margin-top:10px;}
.action_menu h4 span.Reset{margin-right:80px; font-size:18px;}

.p_a{border:solid #c6ec95 5px; padding:15px; border-radius:12px; margin:15px 0;}
.p_a h3{margin:0; color:#d81e06;}

.star-5{color:#ddd; }
.star-5 .active{color:#ffcc00;}
strong{font-family: 'robotobold';}
.mt25{margin-top:25px !important;}
.mt10{margin-top:10px !important;}
.mt0{margin-top:0px !important;}
.item_list{border-bottom:solid #ccc 1px; padding:15px 0; width:100%; float:left;}
.item_list .left{width:60%; float:left;}
.item_list aside{width:40%; float:right; text-align:right;}
.item_list .left span{background:#eceff4; border:solid #81c02f 1px; width:40px; padding:5px 0; text-align:center; display:inline-block;}
.item_list aside a {margin:0 0 0 10px;}
.item_list aside i.fa{font-size: 20px; margin-bottom:7px;}
.item_list aside .fa-pencil{color:#00b9ee;}
.item_list aside .fa-plus{color:#81c02f;}
.item_list aside .fa-minus{color:#e30613;}
.item_list aside .fa-trash{color:#8493a8;}

/*5-4-16*/
.arrow-back{display:inline-block; color:#fff;}
.full-map-text{position:absolute; width:100%; top:100px; z-index:999;}
.map-details{border:solid #81c02f 8px; background:#fff; max-width:600px; padding:15px; border-radius:10px; position:relative;}
.map-details h2{margin:0; font-family: 'robotobold'; color:#81c02f;}
.map-details h4{margin:0;}
.map-details .md-close{position: absolute; right: -25px; top: -25px;}

.btn-green{background:#81c02f; border:solid #71ad23 1px; color:#fff;}
.color-white{color:#fff;}
.require_star{ float: left; margin: 0 2.5% 15px; width: 45%; position:relative;}
.require_star > span{font-size: 20px; left: -14px; line-height:44px; position: absolute;}
.require_star > div.bottom{position:absolute !important;}
.require_aria{width:95%; margin: 0 2.5% 15px;}
.pay-type-list {margin-left:0;}
.pay-type-list li{width:130px; height:160px; border:solid #ddd 1px; border-radius:5px; text-align:center; padding:25px 5px 15px 5px; position:relative;}
.pay-type-list li img{width:100%;}
.pay-type-list li figure{height:90px;}
.pay-type-list li span{width:40px; display:inline-block; position:absolute; right:0; top:0;}

.btn.dropdown-toggle{border:solid #ccc 1px;}

.Coupon-Code-main{margin:-12px 45px 0;} 
.Coupon-Code .btn{border:none !important; background:none !important; font-size:16px; outline:none;}
.Coupon-Code .input-group-addon{background:#555555 !important; color:#fff; border-color: #555; font-size:14px; padding:0;}

.navbar-toggle .icon-bar{background:#fff;}
.navbar-toggle{background:#81C02F;}
.logo-press span{width:100px; display:inline-block;}
.logo-press span img{max-width:100%;}

.navi li a{padding:10px 15px; display:block; background:#eeeeee; margin-top:1px; color:#817f78;}
.navi li a:hover, .navi li a.active{background:#999999; color:#fff;}

.sort-down{ margin: 0 21px 0 0; font-family: 'robotobold';}
.sort-down a{float:right; color:#fff; margin-top: 5px; padding: 5px; font-size:20px; text-decoration:none;}
.sort-down ul.dropdown-menu{ top: 62px;width: 100%; padding:0;}
.sort-down a .caret{border:none;}
.sort-down .dropdown-menu a{float:none; font-size:18px; background:#eceff4; margin-top:1px; padding:10px;}
.sort-down .dropdown-menu a:hover{background:#81C02E; color:#fff;}
.sort-down .dropdown-menu li:first-child{font-family: 'robotothin'; color:#8493a8; border:solid #81c02f 1px;}
.sort-down .dropdown-menu li i{width:30px; display:inline-block;}
.sort-down .bootstrap-select{width:100% !important;}
.sort-down .bootstrap-select button{border-radius:0; border: 2px solid #81c02f; padding:11px;}
.sort-down .dropdown-menu{padding:0px;}
.sort-down .bootstrap-select.btn-group .dropdown-toggle .filter-option{width: 93%;}

.search_min{padding:25px 0;  min-height: 180px;}
.search_top{background:#81c02f;}
.search_top.graybg{background:#ebebeb;}
.search_top h4{color:#000; padding:10px;}
.search_top_r{position:relative; text-align:center;}
.search_top_r span{margin-top:22px; display:inline-block;}
.search_top_r .new{  color: #fff; position: absolute; right: -23px; top: 10px; transform: rotate(45deg); width: 100px; position:relative;}
.search_top_r .new:after{position:absolute; content:''; right:0;  background: #e30613; right: -3px; top: -24px; width:100%; height:50px; z-index:-1;}
.search_r{text-align:center;}
.s_detail{position:relative; text-align:center;}
.s_detail ul{font-family: Tahoma;
    left: 50%;
    margin-left: -74px;
    padding: 0;
    position: absolute;
    top: 32px;
    width: 100px;
transform:      rotate(300deg) skew(30deg);
-webkit-transform:  rotate(300deg) skew(30deg) ;
-moz-transform:   rotate(300deg) skew(30deg) ;
-o-transform:     rotate(300deg) skew(30deg);
-ms-transform:    rotate(300deg) skew(30deg);}
.s_detail ul li{background:#81c02f; color:#4c4c4c; list-style:none; padding:5px 15px; height: 47px; line-height: normal; }
.s_detail ul li:nth-child(2){background:#c6ec95; color:#c50505;}
.s_detail ul li:nth-child(3){background:#4c4c4c; color:#fff;}


.s_detail .btn-red2{left: 0; margin-left: -165px; position: absolute; top:0;}

.live{width:70px; display:inline-block; position:relative;}
.live i{ vertical-align: middle;}
.live .fa-comment{color: #999; left: 26px; position: absolute; top: -15px;}

.btn-green2{background:#81c02f; color:#fff; border:solid #c6ec95 3px; font-size:16px; min-width:150px; border-radius:8px;}
.btn-red2{background:#e30613; color:#fff; border:solid #ef999e 3px; font-size:16px; min-width:150px; border-radius:8;}

.checkbox3_list label{width:33.3333%; float:left; font-size:12px; margin:5px 0 !important; cursor:pointer;}
.checkbox2_list label{width:50%; float:left; font-size:12px; margin:5px 0 !important; cursor:pointer;}
.checkbox3_list label span{ display:block; }
.green-search input{background:#eceff4; border:solid #81c02f 2px;}
.green-search .btn{border:none !important; background:none !important; font-size:16px; outline:none;}
.green-search .input-group-addon{background:#81c02f !important; color:#fff; border-color: #81c02f; font-size:14px; padding:0;}

.openDown{background:url(../img/arrow.png) no-repeat right 5px; cursor:pointer; margin: 0; padding: 10px 0;}
.openUp{background:url(../img/arrow-up.png) no-repeat right 5px; cursor:pointer;}

.row_border{border-bottom:solid #ccc 1px; padding: 5px 0;}

.inf{font-family: 'robotoregular'; padding:15px; display:none;}



/* 18-04 */

.leftsidebarfixed {
    position: fixed;
    top: 0;
  width:435px;
}


.act-bottom{position:relative;}
.act-bottom:before {
    position: absolute;
    top: -30px;
    right: 18%;
    border: 16px solid transparent;
    border-bottom: 16px solid #ddd;
    content: '';
    z-index: 99;
  opacity:1;
}
.bottom{position:relative;}
/* 19-04 */
h2.prof-hed{text-align:left !important; border-bottom:5px solid #fff;}
.prof-hed img{border-radius:100%; width:60px; height:60px;}
.tops-links{
    margin: 0;
    padding: 0;
}
.tops-links li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
}

#login-dp .tops-links li a {
    display: block;
   
    background: rgba(129, 192, 47, 0.7);
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 16px;
}
#login-dp .tops-links li a:hover, #login-dp .tops-links li a.active {background: rgba(129, 192, 47, 1);}
.acti-lst{
border:1px solid rgba(66,166,62,1.00) !important;
background:#eee; color:rgba(72,159,55,1.00);
}
.fa-heart{color:#BFBFBF;}.fa-heart.active{color:rgba(221,7,11,1.00);}
.bestseller-lst .bestseller:nth-child(even){background:rgba(253, 247, 247, 0.66); }
.bor-der .bestseller:first-child{border-top:0; }
.bestseller_right img{transition:all ease-in-out 0.4s; -moz-transition:all ease-in-out 0.4s;-webkit-transition:all ease-in-out 0.4s;}
.bestseller_right img:hover{transform:scale(1.1); transition:all ease-in-out 0.4s; -moz-transition:all ease-in-out 0.4s;-webkit-transition:all ease-in-out 0.4s;}
.filtr-lst section{padding-bottom:10px;}
.filtr-lst section:hover{background:#FFEA00;}
.media-list > li:nth-child(even){background:rgba(239,237,237,0.20);}
.stamp li{height:30px; overflow:hidden; cursor:pointer;}
.stamp li:hover > img{margin-top:-30px;}
.stamp li.act > img{margin-top:-30px;}
i.red{cursor:pointer;}

td.vam{vertical-align:middle !important;}
.tb_bt{border-top: 1px solid #a0a0a0; padding-top:10px; margin-top:10px;}
.fix-wt{max-width:450px; display:block; white-space: initial;}
.tbox{border-left: 1px solid #a0a0a0; border-right: 1px solid #a0a0a0;}
.tbox tr:first-child{font-weight:bold; border-bottom: 1px solid #a0a0a0;}
.tbox tr td{border-right: 1px solid #a0a0a0;}
.tbox tr td:last-child{border:none;}



/**/
.add_box{position:relative;}
.add_box aside{ text-align:right; font-size:20px; z-index:99;}
.add_box aside a .fa-trash { color: #8493a8;}
.add_box aside a{padding:5px;}

.error{color:#B90101; font-weight:normal; font-size: 14px;}

.seller_sub:after, .seller_sub:before{content:''; clear:both; display:table;}
.seller_sub .price_box{margin:3px;}
.seller_sub .price_box a{ padding: 2px 5px 2px 10px;}
.seller_sub small{margin-left:55px}

textarea{resize:none;}
.text-gray{color:#999 !important;}

._map-details{border:none; border-radius: 0px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); font-size:14px;}
.btn-success{background:#81C02F; border:solid #71b030 1px;}
.btn-success:hover{background:#71b01f; border:solid #71b030 1px;}

.address_open{ background: #fff; box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); padding: 15px; position: absolute; right: 23%; top: 30%; width: 250px; z-index: 999999;}
.address_open:before{border-color: transparent transparent #fff; border-style: solid; border-width: 14px; content: ""; left: 50%; margin-left: -7px; position: absolute; top: -28px;}

.address_open_user{ background: #81C02F; box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); padding: 15px; position: absolute; right: 34%; top: 44%; width: 200px; z-index: 999999; color:#fff;}
.address_open_user:before{border-color: transparent transparent #81C02F; border-style: solid; border-width: 14px; content: ""; left: 50%; margin-left: -7px; position: absolute; top: -28px;}



/*------------css add by Rajlakshmi on 28-6-16------------ */
textarea{resize:none;}
.text-gray{color:#999 !important;}
/*------------css add by Rajlakshmi on 28-6-16------------ */

/*------------css add by Rajlakshmi on 05-07-16------------ */
.bs-wizard {margin-top: 40px;}
/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative; width:16.5%; float:left;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #C6EC95; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #81C02F; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #C6EC95;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.bs-wizard > .bs-wizard-step.cancelled  > .progress , .bs-wizard > .bs-wizard-step.cancelled > .bs-wizard-dot{background:#ffa4a2 /*#a94442*/;}
.bs-wizard > .bs-wizard-step.cancelled > .bs-wizard-dot:after{background:#a94442;}


/*END Form Wizard*/
/*------------css add by Rajlakshmi on 05-07-16------------ */
.disablebox{opacity: 0.5; pointer-events: none;}
#map-canvas {
    margin: 0;
    padding: 0;
    height: 500px;
    max-width: none;
}
#map-canvas img {
    max-width: none !important;
}
.gm-style-iw, .gm-style-iw > div
  {width: 400px !important; height: auto !important;}
}
.gm-style-iw div{overflow: inherit;}



.infowindow
    {
        font-size:24px;
        width: 400px;
        color: #ff0000;
        font-family:Arial, Helvetica, sans-serif;
        border-radius: 10px;
        overflow: hidden; 
    }
.map_boxx{width:100%; text-align: left; background:#fff;   padding-top:10px; float:left; position:relative; font-size:12px;}
.map_boxx h4{margin:0;  font-size:13px; color:#FFBE00;}
.inr-box{width:100%; float:left; margin:5px 0 10px;}
.itm-imgg{width:65%; float:left; border-right:1px dashed #ddd;}
.btn-itmm{width:33%; float:left; padding:15px;}
.map_boxx label{float:left; width:40%; margin: 0;}
.fright{float:left; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:60%;}
.map_boxx p{margin:1px 0; width:100%; float:left;}
.view-dtl{text-align:center; background:#FFBE00; text-decoration:none; color:#fff; padding:5px; border:1px solid #F98700; border-radius:4px;}
.qutess{text-align:center; text-decoration:none; color:#FFBE00;}
.colse-mapppp{position:absolute; right:-15px; top:-15px;}
.img-tag{display:inline-block; border:1px solid #ddd; padding:2px;}  


#iw-container {
    margin-bottom: 10px;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px; 
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.nano_height{height:400px;}
/*#zip_error{position: absolute; top: 50px; font-size: 13px; padding: 2px 10px; left: 67px; z-index: 9;}*/
#zip_error{ margin-bottom: 0;
    margin-top: 31px;
    padding: 7px 10px;
    position: absolute;
    z-index: 999;}

.red{color:red;}

.js-example-basic-multiple.error + label + .select2-container{margin-bottom:30px;}
.js-example-basic-multiple + label.error{position:absolute; bottom:0;}

.mleft{ margin-right: 140px;}


.nano_height{height:400px;}


.s_logo{width:200px;}
.grid.gridcss{height:500px;}
.grid.gridcss .search_top_r .new{right: 0; top: 0; transform: rotate(0deg); width:120px;}
.grid.gridcss .search_top_r span { margin-top: 7px;}
.grid.gridcss .search_top h4{margin:0;}
.grid.gridcss .search_min { padding: 05px 0;}
.grid.gridcss .mleft{margin:0; min-height:130px;}
.grid.gridcss .grid_full{width:100%;}
.grid.gridcss figure{width:100px;}
.grid.gridcss .s_logo img{width:100%;}
.grid.gridcss .img-responsive{display:inline-block;}
.grid.gridcss .mt25{margin-top:0px !important;}
.grid.gridcss .search_r{margin-top:5px;}
.grid.gridcss .s_detail .btn-red2{ margin-left: 0; position: relative;}
.grid.gridcss .s_detail ul{left: 0; top:7px; margin-left: 0; position: relative; transform: rotate(0deg) skew(0deg); width:100%;}
.grid.gridcss .s_detail ul li{height:auto;}

