/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'HarabaraHand';
  src: url('./fonts/HarabaraHand.eot'); /* IE9 Compat Modes */
  src: url('./fonts/HarabaraHand.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/HarabaraHand.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/HarabaraHand.woff') format('woff'), /* Modern Browsers */
    url('./fonts/HarabaraHand.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/HarabaraHand.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}