/*@import url(https://fonts.googleapis.com/css?family=arial:400,500,700);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600);*/



.head {
    padding-top: 20px;
}

.header h3 {
    font-size: 15px;
    text-align: center;
    font-family: arial;
    margin: 0px;
    line-height: 27px;
	font-weight:bold;
}

address ,
span.time ,
span.date {
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    font-family: arial;
	font-style: italic;
}

.print-btn{
	text-align:right;
}

.head {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 9px;
}

.list-style {
    background: url(../img/right-arrow.png) no-repeat;
    background-size: 11px;
    background-position: 24px 6px;
    padding-left: 40px !important;
}

.right-side{
    padding-right: 65px !important;
}

.table.prod-total {
    border-bottom: 2px solid #ccc !important;
}

.left-col ul li {
    font-size: 13px;
    font-family: arial;
    line-height: 20px;
}
.left-col ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}	

.right-col ul li {
    font-size: 13px;
    font-family: arial;
    line-height: 20px;
}
.right-col ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
	text-align:right;
}	

.container.top {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
}

/*----  main table styling ----*/

.main-table > ul > li {
    display: inline-block;
    font-size: 12px;
    font-family: arial;
	line-height:22px;	
}

li.ft {
    width: 49%;
    text-align: right;
}

li.ff {
    width: 25%;
}

li.fs {
    width: 25%;
}

.main-table > ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.sub-menu {
    padding: 2px 0px 2px 22px !important;
    border-color: #ddd;
    border-style: dotted;
    border-width: 1px 0 1px 0px;
    margin: 5px 0 !important;
}

li.sf {
    width: 23.6%;
}

li.ss {
    width: 72.5%;
}

.ok {
    margin: 0 5px 0 6px;
}

.discount-type {
    padding: 0px;
}

.subtotal.table-responsive td {
    font-size: 12px;
    font-family: arial;
}

.subtotal td {
    padding: 2px 0 !important;
	font-weight:bold;
}

.subtotal {
    border-bottom: 2px solid #cccccc;
    border-top: 1px solid #cccccc;
	margin-top: 7px;
}

.total{
	border: medium none !important;
    margin-bottom: 2px !important;
}

.vat{
	list-style: outside none none;
    margin: 0;
    padding: 0;
}

.vat li{
	display: inline-block;
    font-family: arial;
    font-size: 12px;
    line-height: 22px;
	font-weight:bold;
}


.vat-table{
    border-bottom: 2px solid #cccccc;
    padding-bottom: 1px;
    padding-top: 1px;
}


.service{
	list-style: outside none none;
    margin: 0;
    padding: 0;
}

.service li{
	display: inline-block;
    font-family: arial;
    font-size: 12px;
    line-height: 22px;
	font-weight:bold;
}

.service-table{
    border-bottom: 2px solid #cccccc;
    padding-bottom: 1px;
    padding-top: 1px;
}


.discount{
	list-style: outside none none;
    margin: 0;
    padding: 0;
}

.discount li{
	display: inline-block;
    font-family: arial;
    font-size: 12px;
    line-height: 22px;
	font-weight:bold;
}

.discount-table{
    /*border-bottom: 2px solid #cccccc;*/
    padding-bottom: 1px;
    padding-top: 1px;
}

.discount-ty{
	list-style:none;
	padding: 2px 0px 2px 20px !important;
    border-color: #ddd;
    border-style: dotted;
    border-width: 1px 0 1px 0px;
    margin: 5px 0 !important;
}

.discount-ty li{
	display:block;
	font-size: 12px;
    font-family: arial;
    line-height: 22px;
}

.customer-table{
	list-style:none;
	margin:0px;
	padding:0px;
}

.customer-table li{
	display:block;
	border-bottom:1px dotted #ccc;
	font-family:arial;
	font-size:12px;
	line-height:22px;
}

.customer h2 {
    font-family: arial;
    font-size: 17px;
    margin: 0px;
    padding: 15px 0 10px;
    line-height: 24px;
	font-weight:bold;
}

.thanku {
    text-align: center;
    padding: 20px 0 20px;
    font-size: 12px;
    line-height: 17px;
    font-family: arial;
    font-weight: 600;
}

.container {
    border: 1px solid #ccc;
}

.total>tbody>tr>td {
    border-top: none !important;
}

.inner-table {
    border-top: 1px dotted #ccc !important;
    border-bottom: 1px dotted #ccc !important;
}

.inner-table>tbody>tr>td {
    border-top: none !important;
}
@media print{
	.print-none{display:none;}
}

@media print (max-width:991px) and (min-width:768px){
	li.ft {
		text-align: right;
		width: 48.8% !important;
	}
	li.ss {
		width: 69% !important;
	}
}

@media print(max-width:768px){
	li.ft {
		text-align: right;
		width: 46% !important;
	}
	li.ss {
		width: 56% !important;
	}
	.thanku{
		padding: 30px 10px 20px;
	}
	.head {
		padding-bottom: 20px;
	}
	.print-btn {
		position: absolute;
		right: 0;
		text-align: right;
		top: 23px;
	}
}