/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Roboto-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/Roboto-Regular.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}